
<ul class="list-unstyled">
    <li>
        <a href="#menu1" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Master</a>

        <ul class="collapse list-unstyled" id="menu1">
            <li>
                <a href="@Url.Action("Index","ImageApprove")">All</a>
            </li>
            <li>
                <a href="@Url.Action("Pending","ImageApprove")">Pending</a>
            </li>
            <li>
                <a href="@Url.Action("Byme","ImageApprove")">By me</a>
            </li>
        </ul>
    </li>   
</ul>