<ul class="list-unstyled">
    <li>
        <a href="#menu1" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Master</a>

        <ul class="collapse list-unstyled" id="menu1">
            <li>
                <a href="@Url.Action("Index", "Category")">Category</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Resolution")">Resolutions</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#menu2" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
        <ul class="collapse list-unstyled" id="menu2">
            <li>
                <a href="@Url.Action("Index", "User")">Users</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#menu3" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings</a>
        <ul class="collapse list-unstyled" id="menu3">
            <li>
                <a href="@Url.Action("Index", "Settings")">Settings</a>
            </li>
        </ul>
    </li>
</ul>